<p>shopping-cart works!</p>
<div class="cart-container">
    <div *ngIf="cartlist.length == 0" class="empty-cart-message">
    Your cart is empty
  </div>
  
  <div *ngFor="let product of cartlist" class="cart-item">
    <img class="product-image" [src]="product.product.picture" alt="{{ product.product.name }}" />
    <div class="product-details">
      <h3>{{ product.product.name }}</h3>
      <p>Description: {{ product.product.description }}</p>
      <p class="price">Price: {{ product.product.price }}&#x20AA;</p>
      <p>Age: {{ product.product.age }}</p>
      <p>id: {{ product.product.id }}</p>
      <p>Total Price: {{ product.totalPrice }}&#x20AA;</p>
      <p>Amount: 
        <button (click)="decreaseAmount(product)">-</button>
        {{ product.amount }}
        <button (click)="increaseAmount(product)">+</button>
      </p>
      <p>Date Last Update: {{ product.product.dateLastUpdate | date:'dd-MM-yyyy' }}</p>
    </div>
    <button class="delete-btn" (click)="removeProduct(product)">🗑️</button>
  </div>
  <div class="total-price-box">
    <h2> {{getTotalPrice() }}&#x20AA;</h2>
  </div>
  <div class="checkout-btn-container">
    <button (click)="checkIfLogInBeforePyment" class="checkout-btn" routerLink="/check-out" routerLinkActive="active">for payment</button>
    
  </div>
</div>
