.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.product-details {
  flex-grow: 1;
  margin-left: 20px;
}

.price {
  font-weight: bold;
  color: green;
}

button {
  background-color: #565e67;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #ff6b6b;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #d9534f;
}

.product-details p {
  margin: 5px 0;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.total-price-box {
  background-color: #f1f1f1;
  border: 2px solid #ccc;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
  font-weight: bold;
  max-width: 400px;
  margin: 0 auto;
}

.checkout-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.checkout-btn {
  background-color: #4CAF50; /* Green background */
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

.checkout-btn:focus {
  outline: none; /* Remove outline */
}
