<div class="checkout">
  <div class="credit-card-box">
    <div class="flip">
      <div class="front">
        <div class="chip"></div>
        <div class="logo">
          <!-- SVG Logo here -->
        </div>
        <div class="number"></div>
        <div class="card-holder">
          <label>Card holder</label>
          <div></div>
        </div>
        <div class="card-expiration-date">
          <label>Expires</label>
          <div></div>
        </div>
      </div>
      <div class="back">
        <div class="strip"></div>
        <div class="logo">
          <!-- SVG Logo here -->
        </div>
        <div class="ccv">
          <label>CCV</label>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <form class="form" autocomplete="off" novalidate>
    <fieldset>
      <label for="card-number">Card Number</label>
      <input type="num" class="input-cart-number" maxlength="4" (keyup)="onCardNumberChange($event)" (change)="onCardNumberChange($event)" />
      <input type="num" class="input-cart-number" maxlength="4" (keyup)="onCardNumberChange($event)" (change)="onCardNumberChange($event)" />
      <input type="num" class="input-cart-number" maxlength="4" (keyup)="onCardNumberChange($event)" (change)="onCardNumberChange($event)" />
      <input type="num" class="input-cart-number" maxlength="4" (keyup)="onCardNumberChange($event)" (change)="onCardNumberChange($event)" />
    </fieldset>
    <fieldset>
      <label for="card-holder">Card holder</label>
      <input type="text" id="card-holder" (keyup)="onCardHolderChange($event)" (change)="onCardHolderChange($event)" />
    </fieldset>
    <fieldset class="fieldset-expiration">
      <label for="card-expiration-month">Expiration date</label>
      <div class="select">
        <select id="card-expiration-month" (change)="onCardExpirationChange()">
          <option></option>
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>06</option>
          <option>07</option>
          <option>08</option>
          <option>09</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </div>
      <div class="select">
        <select id="card-expiration-year" (change)="onCardExpirationChange()">
          <option></option>
          <option>2023</option>
          <option>2024</option>
          <option>2025</option>
          <option>2026</option>
          <option>2027</option>
          <option>2028</option>
          <option>2029</option>
          <option>2030</option>
          <option>2031</option>
        </select>
      </div>
    </fieldset>
    <fieldset class="fieldset-ccv">
      <label for="card-ccv">CCV</label>
      <input type="text" id="card-ccv" maxlength="3" (focus)="onCcvFocus()" (blur)="onCcvBlur()" (keyup)="onCcvChange($event)" (change)="onCcvChange($event)" />
    </fieldset>
    <button (click)="addPurchase()" class="btn"><i class="fa fa-lock"></i>submit</button>
  </form>
</div>
