<nav class="navbar">
  <ul>
    <!-- במקרה שאין התחברות - הראה קישור להתחברות -->
    <li *ngIf="!isUserSignedIn">
      <a class="left" routerLink="/signIn" routerLinkActive="active">Log in / Sign in</a>
    </li>

    <!-- במקרה שהמשתמש מחובר - הראה את השם כקישור ללא אפשרות ללחוץ -->
    <li *ngIf="isUserSignedIn">
      <a class="left" href="#" (click)="$event.preventDefault()">Hello {{ Name }}!</a>
    </li>
  </ul>

  <ul class="center">
    <li><a routerLink="/home" routerLinkActive="active">Home Page</a></li>
    <li><a routerLink="/cart" routerLinkActive="active">Shopping Cart</a></li>
    <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
    <li><a routerLink="/check-out" routerLinkActive="active">בי</a></li>
    <li><a routerLink="/favorite" routerLinkActive="active">favorites</a></li>
  </ul>
  <button></button>
</nav>
<router-outlet></router-outlet>