

<!-- כפתור מיון -->
<h3>sort</h3>
<select [(ngModel)]="selected" (ngModelChange)="onChangeofOptionsofSort($event)">
    <option value="byPrice">byPrice</option>
    <option value="byAge">byAge</option>
    <option value="byCategory">byCategory</option>
</select>
<!-- כפתור מיון -->
<!-- 
<div *ngFor="let category of categories" class="flex items-center">
    <p-checkbox [inputId]="category.key" name="group" [value]="category" [(ngModel)]="selectedCategories" />
    <label [for]="category.key" class="ml-2"> {{ category.name }} </label>
</div> -->
<h3>Filter By Category</h3>
<div *ngFor="let category of categories" class="flex items-center">
  <p-checkbox 
    [inputId]="category.key" 
    name="group" 
    [value]="category" 
        (onChange)="onCategoryChange(category.key)"  
  />
  <label [for]="category.key" class="ml-2"> {{ category.name }} </label>
</div>


<!-- כפתור סינון -->
<h3>filter</h3>
<select [(ngModel)]="selected" (ngModelChange)="onChangeofOptionsofFilter($event)" aria-placeholder="filter" >
  <option value="forKids">For Kids</option>
  <option value="forTeens">For Teens</option>
  <option value="forAdults">For Adults</option>
</select>

<div class="product-container">
  <div *ngIf="!filter" class="product-container ">

  <div *ngFor="let product of products" class="product-card" (click)="onProductClick(product)">
    <img class="product-image" [src]="product.picture" alt="{{ product.name }}" />
    <h3>{{ product.name }}</h3>
    <p>Description: {{ product.description }}</p>
    <p class="price">Price: {{ product.price }}&#x20AA;</p>
    <p>Age: {{ product.age }}</p>
    <p>id: {{product.id}}</p>
    <p>categoryName: {{product.category}}</p>
    <p>companyName: {{product.company}}</p>
  </div>
  </div>
</div>

<div class="product-container">
  <div *ngIf="filter" class="product-container">
  <div *ngFor="let product of filterProducts" class="product-card" (click)="onProductClick(product)">
    <img class="product-image" [src]="product.picture" alt="{{ product.name }}" />
    <h3>{{ product.name }}</h3>
    <p>Description: {{ product.description }}</p>
    <p class="price">Price: {{ product.price }}&#x20AA;</p>
    <p>Age: {{ product.age }}</p>
    <p>id: {{product.id}}</p>
    <p>categoryName: {{product.category}}</p>
    <p>companyName: {{product.company}}</p>
  </div>
  </div>
</div>



  
 
