<div class="container">
  <!-- Sidebar for Filters -->
  <div class="filter-section">
    <!-- Sort by Dropdown -->
    <div class="filter-item">
      <h3>Sort by</h3>
      <div class="filter-section">
        <label for="sort-select">Sort by:</label>
        <select id="sort-select" class="styled-select" [(ngModel)]="selected"
          (ngModelChange)="onChangeofOptionsofSort($event)">
          <option value="byPrice">Price</option>
          <option value="byAge">Age</option>
          <option value="byCategory">Category</option>
        </select>
      </div>
    </div>

    <!-- Price Range Slider -->
    <div class="filter-item">
      <h3>price</h3>
      <span>{{ priceRange[0] }} - {{ priceRange[1] }}&#x20AA;</span><br><br>
      <p-slider [(ngModel)]="priceRange" [range]="true" min="0" max="500" styleClass="w-56"
        (onChange)="onPriceRangeChange($event)"></p-slider>
    </div>

    <!-- Age Filter -->
    <div class="filter-item">
      <h3>Filter By Age</h3>
      <div *ngFor="let age of ages">
        <input type="checkbox" [id]="'age-' + age" (change)="onAgeChange(age)" />
        <label [for]="'age-' + age">{{ age }}</label>
      </div>
    </div>

    <!-- Category Filter -->
    <div class="filter-item">
      <h3>Filter By Category</h3>
      <div *ngFor="let category of categories" class="flex items-center">
        <p-checkbox [inputId]="category.key" name="group" [value]="category"
          (onChange)="onCategoryChange(category.key)"></p-checkbox>
        <label [for]="category.key" class="ml-2">{{ category.name }}</label>
      </div>
    </div>
  </div>

  <!-- Product List -->
  <div class="product-container">
    <div *ngIf="!filter" class="product-container">
      <div *ngFor="let product of products" class="product-card" (click)="onProductClick(product)">
        <img class="product-image" [src]="product.picture" alt="{{ product.name }}" />
        <h3>{{ product.name }}</h3>
        <p>Description: {{ product.description }}</p>
        <p class="price">Price: {{ product.price }}&#x20AA;</p>
        <p>Age: {{ product.age }}</p>
        <p>id: {{ product.id }}</p>
        <p>categoryName: {{ product.category }}</p>
        <p>companyName: {{ product.company }}</p>

        <!-- Heart Icon -->
        <i class="pi"
          [ngClass]="{'pi-heart': !isHeartClicked[product.id], 'pi-heart-fill': isHeartClicked[product.id], 'heart-animation': isHeartClicked[product.id]}"
          style="color: #708090; font-size: 1.5rem" (click)="favorite($event, product)">
        </i>

        <!-- Cart Icon -->
        <button (click)="cart($event, product)" class="cart-btn">
          <i class="pi pi-cart" [ngClass]="{'cart-animation': isCartClicked[product.id]}"
            style="font-size: 1.5rem; color: #000;"></i>
        </button>
      </div>
    </div>
    <div *ngIf="filter" class="product-container">
      <div *ngFor="let product of filterProducts" class="product-card" (click)="onProductClick(product)">
        <img class="product-image" [src]="product.picture" alt="{{ product.name }}" />
        <h3>{{ product.name }}</h3>
        <p>Description: {{ product.description }}</p>
        <p class="price">Price: {{ product.price }}&#x20AA;</p>
        <p>Age: {{ product.age }}</p>
        <p>id: {{ product.id }}</p>
        <p>categoryName: {{ product.category }}</p>
        <p>companyName: {{ product.company }}</p>

        <!-- Heart Icon -->
        <i class="pi"
          [ngClass]="{'pi-heart': !isHeartClicked[product.id], 'pi-heart-fill': isHeartClicked[product.id], 'heart-animation': isHeartClicked[product.id]}"
          style="color: #708090; font-size: 1.5rem" (click)="favorite($event, product)">
        </i>

        <!-- Cart Icon -->
        <i class="pi"
          [ngClass]="{'pi-cart': !isCartClicked[product.id], 'pi-cart-fill': isCartClicked[product.id], 'cart-animation': isCartClicked[product.id]}"
          (click)="cart($event, product)">
        </i>
      </div>
    </div>
  </div>
</div>