<div class="form-container" *ngIf="isSignIn"> 
  <h2>Sign In</h2>
  <div class="form-group">
    <p-floatlabel>
      <input pInputText id="over_label" [(ngModel)]="Name" autocomplete="off" placeholder=" " />
      <label for="over_label">Name</label>
    </p-floatlabel>
  </div>
  <div class="form-group">
    <p-password [(ngModel)]="Password" placeholder="Password"></p-password>
  </div>
  <p-button label="Sign In" severity="info" (click)="signIn()" class="submit-button" />
  <p class="form-footer">New here? <span (click)="toggleForm()" class="toggle-link">Create an account</span></p>
</div>

<div class="form-container" *ngIf="!isSignIn">
  <h2>Create Account</h2>
  <div class="form-group">
    <p-floatlabel>
      <input pInputText id="over_label" [(ngModel)]="Name" autocomplete="off" placeholder=" " />
      <label for="over_label">Name</label>
    </p-floatlabel>
  </div>
  <div class="form-group">
    <p-floatlabel>
      <input pInputText id="over_label" [(ngModel)]="phone" autocomplete="off" placeholder=" " />
      <label for="over_label">Phone</label>
    </p-floatlabel>
  </div>
  <div class="form-group">
    <p-floatlabel>
      <input pInputText id="over_label" [(ngModel)]="Email" autocomplete="off" placeholder=" " />
      <label for="over_label">Email</label>
    </p-floatlabel>
  </div> 
  <div class="form-group">
    <p-datepicker [(ngModel)]="DateOfBirth"></p-datepicker>
  </div>
  <div class="form-group">
    <p-password [(ngModel)]="Password" promptLabel="Choose a password" weakLabel="Too simple" mediumLabel="Average complexity" strongLabel="Complex password" placeholder="Password"></p-password>
  </div>
  <p-button label="Create Account" severity="success" (click)="logIn()" class="submit-button"  routerLink="/home" routerLinkActive="active"
  />
  <p class="form-footer">Have an account already? <span (click)="toggleForm()" class="toggle-link">Sign in</span></p>
</div>

<div *ngIf="message && isMessage" class="message">{{ message }}</div>
